- if @print.errors.any?
  #error_explanation
    %h2
      = pluralize(@print.errors.count, "error")
      prohibited this print from being saved:
    %ul
      - @print.errors.full_messages.each do |message|
        %li= message

.container
  .text-end
    %h1.display-4.font-weight-bold.mt-4 EditOtherAnswers
    %p.lead 模範解答を編集する
    %hr

  = render 'form' , print: @print