%section.hero
  .container
    .row.justify-content-center
      .col-md-6.text-center
        %h1.display-4.font-weight-bold ayzANSWERSver.2
        %p.lead あなたの採点をもっと楽に。採点用の画像をひとまとめにして表示するためのサイトです。
        %hr.my-4
        .d-flex.justify-content-center
          %a.mx-3.btn.btn-light{href: tests_path} 入試問題の答え
          %a.mx-3.btn.btn-light{href: texts_path} テキストの答え
          %a.mx-3.btn.btn-light{href: prints_path} その他の答え

:css
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003366; /* 濃い青色 */
    color: white; /* 文字色を白に */
  }

  .font-weight-bold {
    font-weight: bold; /* タイトルを太字に */
  }
