- if @test.errors.any?
  #error_explanation
    %h2
      = pluralize(@test.errors.count, "error")
      prohibited this test from being saved:
    %ul
      - @test.errors.full_messages.each do |message|
        %li= message

.container
  .text-end
    %h1.display-4.font-weight-bold.mt-4 EditPastPaperAnswer
    %p.lead 過去問の答えを編集する
    %hr

  = render 'form'
